.white-border {
  background: white;
  margin: 5%;
  position: relative;
  border-radius: 3px;
  padding: 2% 0; }

#text {
  padding: 5% 0; }

body {
  background: #01ADD1;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Lato', 'Tahoma', sans-serif;
  letter-spacing: 1px; }

footer {
  font-size: 70%;
  text-align: center; }

img.logo {
  width: 100%;
  padding: 5% 0; }

img.noogie {
  position: relative;
  left: 0;
  width: 100%;
  margin-bottom: -3px; }

.grid__item, .content-wrap {
  vertical-align: middle; }

#container {
  background: #01ADD1; }
  #container .one-half {
    width: 45%; }
  #container .content-wrap {
    margin-right: 6%; }

label.lines,
button {
  background: #01ADD1;
  box-shadow: 5px 5px 3px #adadad;
  border: 2px solid #017b93;
  border-bottom: 5px solid #017b93;
  border-radius: 3px; }

label.lines {
  padding: 1.43%;
  margin-right: 2%; }

input#lines {
  width: 5%;
  margin-left: 10px; }

.inner,
input#lines {
  text-align: center; }

button#generate {
  padding: 2%;
  vertical-align: middle;
  font-size: 100%; }

footer {
  padding-top: 1%; }
  footer a {
    text-decoration: none;
    color: black; }
