* {
  box-sizing: border-box; }

.grid {
  font-size: 0; }

.grid__item {
  font-size: 14px; }

html,
body {
  padding: 0;
  margin: 0;
  background: #01ADD1;
  font-family: 'Lato', 'Helvetica', sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px; }

.white-wrapper {
  background: url("../assets/geometry2.png");
  padding: 5%;
  border-radius: 10px;
  position: relative; }

.site-wrap {
  margin: 2% 0; }

span.description {
  font-size: 85%;
  padding-bottom: 5%; }

#text {
  padding: 2% 0 50% 0; }

.template {
  padding: 0 0 5% 0; }

/* BUTTON STYLES */
.faux-button,
#generate {
  background: #01ADD1;
  box-shadow: 3px 3px 2px #d6d6d6;
  border: 2px solid #017b93;
  border-bottom: 5px solid #017b93;
  display: block;
  width: 100%;
  margin: 10% 0;
  padding: 3%;
  text-align: center;
  font-size: 14px; }

.faux-button,
#generate,
input#lines {
  border-radius: 3px; }

input#lines {
  width: 10%;
  padding: 2%;
  margin: 0 2%;
  color: black;
  text-align: center;
  border: none; }

#generate {
  text-decoration: none;
  height: 49.0313px; }

/* IMAGE STYLES */
img.title {
  display: block;
  padding: 5% 0 2% 0; }

#pic-wrap {
  text-align: center; }

img.title,
#pic-wrap {
  margin: 0 auto; }

img.title {
  width: 100%; }

img.bg-pic {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 60%; }

footer {
  padding-top: 1%;
  font-size: 70%;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: black; }
  footer .fa {
    font-size: 110%; }

@media screen and (max-width: 860px) {
  .faux-button,
  #generate {
    margin: 3% 0; } }
