* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

.grid {
  font-size: 0; }

.grid__item {
  font-size: 14px; }

.white-wrapper {
  background: #e5e5e5;
  margin: 3%;
  padding: 5%; }

.button {
  background: black;
  color: white;
  display: block;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  text-align: center; }
