* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  background: #01ADD1;
  font-family: 'Lato', 'Helvetica', sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px; }

.grid {
  font-size: 0; }

.grid__item {
  font-size: 14px; }

.white-wrapper {
  background: #e5e5e5;
  padding: 5%;
  border-radius: 10px; }

.site-wrap {
  margin: 10% 0; }

span.description {
  font-size: 85%;
  padding-bottom: 5%; }

#text {
  padding: 2%; }

/* BUTTON STYLES */
.faux-button,
#generate {
  background: #01ADD1;
  box-shadow: 3px 3px 2px #d6d6d6;
  border: 2px solid #017b93;
  border-bottom: 5px solid #017b93;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin: 10% 0;
  padding: 3%;
  text-align: center;
  font-size: 14px; }

input#lines {
  width: 10%;
  padding: 2%;
  color: black;
  text-align: center; }

#generate {
  text-decoration: none;
  height: 49.0313px; }

/* IMAGE STYLES */
img.title {
  display: block;
  padding: 5% 0 2% 0;
  width: 100%; }

img.bg-img {
  position: absolute;
  right: 3%;
  bottom: -25%; }

#pic-wrap {
  text-align: center; }

img.title,
#pic-wrap {
  margin: 0 auto; }
