// COLOUR VARIABLES
$bg-blue: #01ADD1;
$border: #017b93;
// SET UP STYLES

* {
	box-sizing: border-box;
}

.grid {
  font-size: 0;
}

.grid__item {
  	font-size: 18px;
}

html, 
body {
	padding: 0; 
	margin: 0; 
	background: #01ADD1;
	font-family: 'Archivo Narrow', 'Lato', sans-serif;
	line-height: 24px;
	letter-spacing: 0.7px;
}

.white-wrapper {
	background:url('../assets/geometry2.png');
	padding: 5%;
	border-radius: 10px;
	position: relative;
}

.site-wrap {
	margin: 2% 0;
}

span.description {
  padding: 1% 0 5% 0;
  font-size: 90%;
}

span.description,
footer {
	font-family: 'Archivo Narrow', sans-serif;
}

#text {
  	padding: 2% 0 50% 0;
  	font-size: 110%;
}

.template {
	padding: 0 0 5% 0;
	
}

/* BUTTON STYLES */

.faux-button,
#generate {
	background: $bg-blue;
	box-shadow: 3px 3px 2px #d6d6d6;
	border: 2px solid $border;
	border-bottom: 5px solid $border;
	display: block;
	width: 100%;
	margin: 12% 0 5% 0;
	padding: 3%;
	text-align: center;
	font-size: 14px;
	font-family: 'Archivo Black', sans-serif;
}

.faux-button,
#generate,
input#lines {
	border-radius: 3px;
}

input#lines {
  width: 10%;
  padding: 2%;
  margin: 0 2%;
  color: black;
  text-align: center;
  border: none; 
  font-family: 'Archivo Narrow' sans-serif;
}

#generate {
  text-decoration: none;
  height: 49.0313px;
}

/* IMAGE STYLES */

img.title {
  display: block;
  padding: 5% 0 2% 0;
}

#pic-wrap {
  text-align: center;
}

img.title,
#pic-wrap  {
  margin: 0 auto;
}

img.title{
	width: 100%;
}

img.bg-pic {
	position: absolute;
    bottom: 0;
    left: 25%;
    width: 60%;
}

// FOOTER STYLES

footer {
padding-top: 1%;
font-size: 75%;
text-align: center;
a {
	text-decoration: none;
	color: black;
}
.fa {
	font-size: 110%;
}
}

// MEDIA QUERIES

@media screen and (min-width: 860px) {

}

@media screen and (max-width: 860px) {

	.faux-button,
	#generate {
		margin: 3% 0;
	}

 
}
